.main {
  padding-inline: 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
}

.back-btn {
  display: flex;
  gap: 0.5em;
}

.textarea {
  resize: none;
  width: 100%;
  padding: 0.5em;
  border: none;
  font-size: 1rem;
}

.post-btn {
  padding: 0.5em 1em;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 0.5em;
}
