.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3em;
  padding-inline: 6em;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1em;
}

.header-btns {
  display: flex;
  align-self: center;
}

.header-btns button {
  border: thin solid var(--accent);
  padding: 0.5em 1em;
  border-radius: 15px 0 0 15px;
}

.header-btns button:last-child {
  border-left: none;
  border-radius: 0 15px 15px 0;
}

.header-title {
  justify-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.post-btn {
  align-self: center;
  justify-self: end;
}

.post-btn button {
  background-color: var(--accent);
  padding: 0.5em 1em;
  color: var(--primary);
  border-radius: 8px;
}

.footer-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-btns button {
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 8px;
  padding: 0.5em 2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  background-color: #000d;
  transition: 0.3s;
}

.open {
  height: 95%;
  border-radius: 15px 15px 0 0;
  border-top: thin solid white;
}

.modal-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  overflow-y: scroll;
}

.modal-content > div {
  padding-block: 1em;
  overflow-y: scroll;
}

.modal-bibles {
  padding-left: 2em;
  background-color: #000;
}

.modal-books {
  padding-left: 2em;
  background-color: #0b0b0b;
}

.modal-chapters {
  background-color: #111;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 2em;
}

.modal-chapters > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  aspect-ratio: 1;
  background-color: var(--background);
  color: var(--accent);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2rem;
  margin-top: 2em;
  transition: 0.3s;
}

.content > p {
  text-indent: 2rem;
}

.content > p > span {
  cursor: pointer;
}

.content:has(.selected) {
  color: #555;
}

.selected {
  color: #fff;
}
